<%- include("partials/header") -%>

<h1>Blog Already Exists â•</h1>
<br>
<h3>Please use a different Name</h3>
<form action="/compose" method="GET" class="post-again">
    <button type="submit" class="btn btn-light add-post">Post Again</button>
</form>

<%- include("partials/footer") -%>